<img src="../assets/img/burger.jpeg" alt="burger" style="width:150px;height:150px;">
<h1>Eat da Burger!</h1>

<ul>
    {{#each burgers}}
        {{#unless this.devoured}}
        <li>
            {{this.burger_name}}
            <form action="/update/{{ id }}" method="post">
            <button type="submit" id="devour">Devour It!</button>
            </form>
        {{!-- </li> --}}
</ul>

    {{#each burgers}}
        {{#if this.devoured}}
        <li>
            {{this.burger_name}}
        {{!-- </li> --}}

<form action="/create" method="POST">
    <div class="form-group">
        <input type="text" id="burg" name="burgName">
        <button type="submit" id="add">Submit!</button>
        <p>Enter your favorite burger to add it to the list!</p>
    </div>
</form>