body {
  background-image: url("../img/background.jpg");
}

.first {
  text-align: center;
  font-family: "Marker-Permanent";
}

.burgs {
  height: auto;
  margin: 30px;
  display: flex;
}

.notEaten {
  float: left;

}

.eaten {
  float: right;
}

p {
  text-align: center;
  font-size: 20px;
}

.form-group {
  text-align: center;
}

.insert {
  text-align: center;
}

.wrapper {
  width: 700px;
}