.body {
    background-image: url("../img/background.jpg")
}
.first {
    text-align: center;
    
}

.burgs {
    height: 90px;
}

.notEaten {
    float: left;
    position: relative;
}
.eaten {
    float: left;
}
.devour {
    float: right;
}

p {
    text-align: center;
    font-size: 20px;
}